/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --link-color: blue;
  --a-color-hover: darkgray;
  --a-active: #702811;
  --button-bgcolor: #357b70;
  --button-text-color: white;
  --projects-item-color: lightgray;
  --font-size: 20px;
}

body {
  font-size: var(--font-size);
  font-family: 'Raleway', sans-serif;
}

div a {
  color: var(--link-color);
}


.collapse {
  float: right;
  width: 275px;
}

.navbar-toggler {
  position: absolute;
  right: 0px;
  width: 60px;
}


ul {
  list-style-type: none;
  overflow: hidden;
  align-items: flex-end;
}


li a:hover,
a:focus {
  /* No underlining when hovering over a link */
  text-decoration: none;
  color: var(--a-color-hover);
}

li a:active {
  /* selected link */
  color: var(--a-active);
}

#info {
  font-size: var(--font-size);
  /* margin-top: 100px; */
}

.profile__portrait {
  float: right;
  width: 250px;
  margin: 0px 100px 40px 40px;
  position: absolute;
  right: 0px;
}

.coverImg {
  width: 100%;
  object-fit: cover;
}

.page-footer {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  background-color: #212529;
}

/* .profile {
  max-width: 700px;
  margin: 0 auto;
  position: relative;
} */

/* .profile {
  width: 100%;
  text-align: center;
  padding-top: 15%;
  position: relative;
} */


.welcome_text {
  text-align: left;
  margin: 100px 50px 50px 150px;
  padding-top: 25px;
}

.welcome_text-p {
  float: left;
  left: 0px;
  position: relative;
}

.animate__animated.animate__slideInDown {
  --animate-duration: 20s;
}

#vm-logo {
  float: left;
  width: 20%;
  height: 53px;
  margin-right: 50px;
  margin-top: 10px;
  margin-left: 10px;
}

#contact-details {
  font-size: var(--font-size);
  margin-top: 100px;
  width: 100%;
}


#content {
  font-size: var(--font-size);
  margin-top: 100px;
  width: 100%;
}


.bg-img {
  width: 100%;
  margin: 100px 100px 40px 40px;
}

.profile_portrait--aligned {
  /* float: left; */
  width: 250px;
  margin-right: 40px;
  border-radius: 50%;
}

.about_text--align {
  max-width: 700px;
  margin: auto;
  text-align: center;
  justify-content: center;
}

.more-info {
  text-align: center;
  font-size: xx-large;
}

.btn {
  margin: 15px;
}

.button,
button {
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color: var(--button-bgcolor);
  color: var(--button-text-color);
  text-decoration: none;
  padding: 10px;
  margin: 30px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.2s opacity;
  -o-transition: 0.2s opacity;
  transition: 0.2s opacity;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  cursor: pointer;
  opacity: 0.8;
}


.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 20px;
}

.page-header__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 200px;
  flex: 0 1 200px;
}

.page-header__item:last-child {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: right;
}

.form-control {
  margin: 15px;
}

#profile {
  margin-bottom: 50px;
  padding: 10px;
}

#contact {
  margin: 100px 25px 25px 25px;
  padding: 10px;
}

#project-grid {
  margin: 100px 25px 25px 25px;
  padding: 20px;
}

#about {
  margin: 50px 25px 200px 25px;
  padding: 10px;
}

.text-center {
  text-align: center;
  text-justify: inter-word;
}

.work-text {
  text-align: center;
  width: 100%;
  font-size: xx-large;
}

.meet-app {
  width: 85%;
  margin: 15px;
  float: left;
}

.pokemon-app {
  width: 85%;
  margin: 15px;
  float: left;
}

.projectTitle {
  font-size: x-large;
}

.form-group {
  margin-right: 22px;
}

.labelSubText {
  text-align: left;
  display: block;
}

#contactModalLabel {
  text-align: center;
  width: 100%;
  font-size: x-large;
}

/* start grid fallback */
.projects_item {
  display: block;
  /* width: 80%; */
  padding: 10px;
  margin: 40px 10px 40px 10px;
  text-align: justify;
  width: 81%;
}


/* end grid fallback  */

@supports (display: grid) {
  .projects {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin: 10px;
  }

  .projects_item {
    background-color: var(--projects-item-color);
    width: auto;
    min-height: auto;
    margin: 0;
    padding: 20px;
  }

}

@media all and (max-width: 500px) {
  .projects {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .profile__portrait {
    float: right;
    width: 250px;
    margin: 0px 40px 40px 40px;
    position: relative;
    right: 0px;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .projects {
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .profile__portrait {
    float: right;
    width: 250px;
    margin: 0px 40px 40px 40px;
    position: relative;
    right: 0px;
  }
}

@media all and (max-width: 750px) {
  .projects {
    grid-gap: 10px;
  }


  .profile__portrait {
    float: right;
    width: 250px;
    margin: 0px 40px 40px 40px;
    position: relative;
    right: 0px;
  }
}

@media all and (width: 768px) and (height: 1024px) {
  .profile__portrait {
    float: right;
    width: 250px;
    margin: 0px 40px 40px 40px;
    position: relative;
    right: 0px;
  }
}

h1 {
  font-size: var(--font-size);
  margin-top: 20px;
}